@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
  background: var(--background);
}

* {
  box-sizing: border-box;
  border: 1px solid blue;
}

* {
  @apply transition-colors duration-200;
}

/* base theme settings */
@layer base {
  html {
    --color-primary: black;
    --background: white;
  }
}

html[data-theme='darky'] {
  --color-primary: white;
  --background: black;
}
