@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
  background: var(--background);
}

* {
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

* {
  @apply transition-colors duration-200;
}

/* base theme settings */
@layer base {
  html {
    --color-primary: black;
    --color-opposite: white;
    --background: white;
  }
}

html[data-theme='dark'] {
  --color-primary: white;
  --color-opposite: black;
  --background: black;
}

.tech-imgs img {
  filter: grayscale(100%);
}

h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

h2 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
}

h4 {
  font-weight: 400;
}

h5 {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 300;
}

span,
p {
  font-weight: 200;
}

.small {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.tiny {
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

@keyframes slideAndFade {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-up {
  animation: slideAndFade 0.5s ease-in-out forwards;
}
